body,nav,#heading,#output,#prompt,#input {
  background-color: #282828;
}
body {
  padding-top: 100px;
}
#heading {
  margin: 0pt 0pt 0pt 48pt;
  font-size: 1.2em;
}
#output {
  margin: 0pt 0pt 0pt 48pt;
  font-size: 1em;
}
#prompt {
  margin: 0pt 0pt 0pt 48pt;
  font-size: 1em;
}
#heading,#output,#prompt,#input,nav {
  font-family: "Lucida Console", "FreeMono", "Courier New", monospace;
  color: #33FF00;
}
#heading,#prompt,#input,nav {
  font-weight: bold;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 28em;
  outline: none;
}
#input {
  background-color: #282828;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none !important;
}
.placetitle {
  font-weight: bold;
}
